html {
  font-size: 1rem;
}

body {
  margin: 0;
  line-height: 1.6;
  font-family: 'Averia Serif Libre', sans-serif;
  font-weight: 400;
  background-color: #2d2d2d;
  color: #b3b9c5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

  

a {
  color: #ffeea6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffd479;
}

a img:hover {
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

p {
  font-size: 1.2rem;
  color: #90959c;
  margin: 2rem 0;
}

li {
  font-size: 1.2rem;
}

img {
  border-style: none;
  display: inline-block;
  max-width: 100%;
  height: auto;
}



header {
  text-align: center;
}

h1 {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  font-size: 6rem;
  margin-bottom: 0;
  color: #ffeea6;
  background: linear-gradient(#ffeea6, #ffd479);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 4.5rem;
  }
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem;
}

@media screen and (min-width: 700px) {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 4rem;
  }
}

h2 {
  font-size: 1.6rem;
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}

h3 {
  font-size: 1.4rem;
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}

@media screen and (min-width: 700px) {
  h2,
  h3 {
    margin: 2rem 0;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}

cite {
  display: block;
  font-size: 1.2rem;
  text-align: right;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
}

h2::before,h3::before,h4::before,h5::before,h6::before {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  content: "";
}

h2,h3,h4,h5,h6 {
  display: flex;
}

pre, blockquote, table, iframe, figure {
  border: 1px #2e2e2e solid;
  border-radius: 8px;
  padding: 16px;
  background: black;
  box-shadow: 10px 10px 26px rgba(0,0,0,0.1);
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 20px !important;
  overflow: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-radius: 12px;
  font-family: 'Fira Code', monospace;
  min-width: 60%;
  max-width: 90%;
  text-align: left;
  margin: auto;
}

tr:first-child {
  border-top: none;
}

tr {
  border-top: 1px solid gray;
}

thead {
  border-bottom: 1px solid gray;
}

table td,
table th {
  padding: 6px 10px;
  
}

pre code {
  font-family: 'Fira Code', monospace;
}

blockquote {
  padding: 15px;
  margin: 0px;
  text-align: left;
  font-style: italic;
  padding-bottom: 3em;
}

blockquote > p {
  margin: 0px;
}


blockquote::before,
blockquote::after {
  content: "ð€’";
  padding: 0;
  margin: 0;
}

blockquote::after {
  
  text-align: right;
  width: 100%;
  display: block;
  padding-right: 15px;
}

h2::before {
  color: #6ab0f3;
}

h3::before {
  color: #92d192;
}

h4::before {
  color: #f2777a;
}

h5::before {
  color: #fca369;
}

h6::before {
  color:#ffd479;
}

.y {
  color: #ffd479;
}

.y2 {
  background-color: #ffd479;
}

.b {
  color: #6ab0f3;
}

.b2 {
  background-color: #6ab0f3;
}

.g {
  color: #92d192;
}

.g2 {
  background-color: #92d192;
}

.r {
  color: #f2777a;
}

.r2 {
  color: #f2777a;
}

.p {
  color: #e1a6f2;
}

.p2 {
  background-color: #e1a6f2;
}

.o {
  color: #fca369;
}

.o2 {
  background-color: #fca369;
}

.a {
  color: #62cfcf;
}

.a2 {
  background-color: #62cfcf;
}

.credits {
  margin: 3rem 0;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0.1);
}

::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

p > code {
  background-color: #fca369;
  padding: 3px 6px;
  border-radius: 3px;
  color: #222;
}

.post header h1 {
  font-size: x-large;
  float: left;
  margin: 0;
  display: block;
  height: 30px;
  line-height: 30px;

}

.post section h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.post header {
  margin-top: 1em;
  margin-bottom: 4em;
  display: block;
  height: 30px;
}

.post header .subtitle {
  font-size: large;
  float: right;
  margin: 0;
  display: block;
  height: 30px;
  line-height: 30px;
}