
body {
  margin: 0;
  background-color: #2d2d2d;
  color: #b3b9c5;
}

body {
  font-family: 'Averia Serif Libre', serif;
  font-weight: normal;
  font-size: 23px;
}

pre code {
  font-family: 'Fira Code', monospace;
  font-size:1.2599em;
}

.small {
  font-size:.7937em;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,figure,pre {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
}


h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.55em;
  margin-bottom: 0.25em;
}

h3 {
  font-size:1.5874em;
  font-weight: bold;
  margin-top: 0.55em;
  margin-bottom: 0.25em;
}

h6,h5,h4 {
  font-size:1.2599em;
  margin-top: 1.42em;
  margin-bottom: 0.25em;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: normal;
}

h6 {
  font-weight: normal;
  font-style: italic;
}

p, li {
  line-height: 1.5em;
  letter-spacing: .0046rem;
  text-align: justify;
  margin-bottom: 0.5em;
}
ul,ol {
  margin-bottom: 0.5em;
}

a {
  color: #ffeea6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffd479;
}

a img:hover {
  text-decoration: none;
}

b, strong {
  font-weight: bolder;
}

p {
  color: #90959c;
}

img {
  border-style: none;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

header {
  text-align: center;
}

h1 {
  color: #ffeea6;
  background: linear-gradient(#ffeea6, #ffd479);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

cite {
  display: block;
  text-align: right;
}

.subtitle {
  margin-bottom: 1.5rem;
  font-size: .7937em;
  font-style: italic;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


h2::before,h3::before,h4::before,h5::before,h6::before {
  display: list-item;
  list-style-type: disc;
  content: "";
  font-size: 2em;
  list-style-position: outside;
  margin: 0;
    padding: 0;
    line-height: 0.5em;
}

h2,h3,h4,h5,h6 {
  display: flex;
}

pre, blockquote, table, iframe, figure {
  border: 1px #2e2e2e solid;
  border-radius: 8px;
  padding: 16px;
  background: black;
  box-shadow: 10px 10px 26px rgba(0,0,0,0.1);
  margin: 0;
  margin-top: 42px;
  margin-bottom: 42px;
  overflow: auto;
  width: 100%;
}


table {
  border-collapse: collapse;
  border-radius: 12px;
  font-family: 'Fira Code', monospace;
  min-width: 60%;
  max-width: 90%;
  text-align: left;
  margin: 42px auto;
}

tr:first-child {
  border-top: none;
}

tr {
  border-top: 1px solid gray;
}

thead {
  border-bottom: 1px solid gray;
}

table td,
table th {
  padding: 6px 10px;
  
}


blockquote {
  padding: 15px;
  text-align: left;
  font-style: italic;
}

blockquote > p {
  margin: 0px;
}


blockquote::before,
blockquote::after {
  content: "ð€’";
  padding: 0;
  margin: 0;
}

blockquote::after {
  
  text-align: right;
  width: 100%;
  display: block;
  padding-right: 15px;
}

h2::before {
  color: #6ab0f3;
}

h3::before {
  color: #92d192;
}

h4::before {
  color: #f2777a;
}

h5::before {
  color: #fca369;
}

h6::before {
  color:#ffd479;
}

.y {
  color: #ffd479;
}

.y2 {
  background-color: #ffd479;
}

.b {
  color: #6ab0f3;
}

.b2 {
  background-color: #6ab0f3;
}

.g {
  color: #92d192;
}

.g2 {
  background-color: #92d192;
}

.r {
  color: #f2777a;
}

.r2 {
  color: #f2777a;
}

.p {
  color: #e1a6f2;
}

.p2 {
  background-color: #e1a6f2;
}

.o {
  color: #fca369;
}

.o2 {
  background-color: #fca369;
}

.a {
  color: #62cfcf;
}

.a2 {
  background-color: #62cfcf;
}


::-moz-selection {
  background-color: rgba(255, 255, 255, 0.1);
}

::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

p > code {
    padding: 0px 6px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 3px;
    color: #fca369;
    font-weight: bold;
    font-family: 'Fira Code', monospace;
}

.post header h1 {
  float: left;
  margin: 0;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
}

.post header {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  height: 30px;
}

.post header .subtitle {
  float: right;
  margin: 0;
  display: block;
  height: 30px;
  line-height: 30px;
}