.hljs-code,
.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-quote,
.hljs-regexp,
.hljs-emphasis,
.hljs-strong,
.hljs-section,
.hljs-deletion,
.hljs-meta,
.hljs-addition,
.hljs-subst,
.hljs-symbol {
    color:rgb(255,0,0);
}


.hljs-emphasis{
    font-style:italic
}


/* new moon */
.hljs-built_in,
.hljs-variable {
    color: #f2777a;
}

.hljs-params {
    color:#777c85;
}

.language-typescript {
    color: #f2777a;
}

.hljs-comment {
    color:#777c85;
}
.hljs-keyword {
    color:#ffeea6;
}

.hljs-attribute {
    color:#ffd479;
}

.hljs-attr,
.hljs-selector-attr {
    color:#ffd479;
}

.hljs-name,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color:#6ab0f3;
}

.hljs-number {
    color:#fca369;
}

.hljs-built_in,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-builtin-name {
    color: #4a7baa;
}

.hljs-string {
    color: #92d192;
}

.hljs-selector-class {
    color:#fca369;
}

.hljs{

    display:block;
    overflow-x:auto;
    padding:.5em;
    background:#2d2d2d;
    color:#b3b9c5

}