{% extends "../layouts/blog.njk" %}

{% block content %}
<div class="container home">  
  <header>
    <h1>Eban Blog</h1>
    <div class="subtitle">
      Thoughts on Javascript and C development.
    </div>
    <a class="github-button" href="https://github.com/parro-it/ebansoft.com" data-icon="octicon-watch" data-size="large"
      data-show-count="true" aria-label="Follow this blog on GitHub">ebansoft.com</a>
    <a class="github-button" href="https://github.com/parro-it" data-size="large" data-show-count="true"
      aria-label="Follow @parro-it on GitHub">@parro-it</a>
  </header>

  <section class="articles">
    {{content| safe}}
  </section>

  
</div>
{% endblock %}
    