@import "reset.css";
@import "new-moon.css";
@import "typography.css";

body,html {
  scroll-behavior: smooth;
  font-size: var(--Size4);
}

body {
  background-color: var(--Darkest);
  color: var(--Light);
}

body {
  font-family: 'Averia Serif Libre', serif;
  font-weight: normal;
}

.container pre code {
  font-family: 'Fira Code', monospace;
  font-size: var(--Size5); 
  line-height: 1.5em;
  tab-size: 4;
}

.container .small {
  font-size: var(--Size5); 
}

.container h1 {
  font-size: var(--Size1);
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}


header h1 {
  margin-top: 0;
  margin-bottom: 0;
}


.container h2 {
  font-size: var(--Size1);
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

.container h3 {
  font-size: var(--Size2);
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.45em;
}

.container h6,h5,h4 {
  font-size: var(--Size3);
  margin-top: 1.8em;
  margin-bottom: 0.45em;
}

.container h4 {
  font-weight: bold;
}

.container h5 {
  font-weight: normal;
}

.container h6 {
  font-weight: normal;
  font-style: italic;
}

.container p {
  line-height: 1.4em;
}

.container p, 
.container li {
  
  letter-spacing: .0046rem;
  text-align: justify;
  margin-bottom: 0.5rem;
  hyphens: manual;
  -webkit-hyphenate-character: "‒";
  -moz-hyphenate-character: "‒";
  hyphenate-character: "‒";
}

.container ul,ol {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container ol li {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 1em;
}

.container ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1em;
}

.container ul li.task-list-item {
  list-style-type: none;
}

.container li p {
  display: inline;
}

.container a {
  color: var(--Yellow);
  text-decoration: none;
  transition-property: color;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.container a:hover {
  text-decoration: none;
  color: var(--Orange);
}

.container a img:hover {
  text-decoration: none;
}

.container b, strong {
  font-weight: bold;
}

.container p, li {
  color: #a0a0a0;
}

.container ul li::marker,
.container ol li::marker {
  color: #e0e0e0;
}

.container img {
  border-style: none;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.container header {
  text-align: center;
}

.container h1 {
  color: var(--LightYellow);
  background: linear-gradient(var(--LightYellow), var(--Yellow));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container cite {
  display: block;
  text-align: right;
}

.subtitle {
  margin-bottom: 1.5rem;
  font-size: var(--Size5);
  font-style: italic;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}


.container .header-anchor {
  display: list-item;
  list-style-type: disc;
  content: "";
  font-size: 2em;
  list-style-position: outside;
  line-height: 0.5em;
  float: left;
}


.container pre, blockquote, table, iframe, figure {
  border: 1px var(--Darkest) solid;
  border-radius: 8px;
  padding: 16px;
  background: #1f1f1f;
  box-shadow: 10px 10px 26px rgba(0,0,0,0.1);
  margin-top: 42px;
  margin-bottom: 42px;
  overflow: auto;
}

.container table {
  border-collapse: collapse;
  border-radius: 12px;
  font-family: 'Fira Code', monospace;
  width: 100%;
  text-align: left;
  margin: 42px auto;
}

.container tr:first-child {
  border-top: none;
}

.container tr {
  border-top: 1px solid var(--Medium);
}

.container thead {
  border-bottom: 1px solid var(--Medium);
}

.container table td,
.container table th {
  padding: 6px 10px;
  
}


.container blockquote {
  padding: 15px;
  text-align: left;
  font-style: italic;
}

.container blockquote::before,
.container blockquote::after {
  content: "𝀒";
}

.container blockquote::after {
  text-align: right;
  width: 100%;
  display: block;
  padding-right: 15px;
}

.container h1 a.header-anchor {
  display: none;
}

.container h2 a.header-anchor {
  color: var(--Blue);
}

.container h3 a.header-anchor {
  color: var(--Green)
}

.container h4 a.header-anchor {
  color: var(--Red)
}

.container h5 a.header-anchor {
  color: var(--Orange)
}

.container h6 a.header-anchor {
  color:var(--Light);
}



.container ::-moz-selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.container ::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.container p > code {
    padding: 0px 6px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 3px;
    color: var(--Orange);
    font-weight: bold;
    font-family: 'Fira Code', monospace;
}

.container .post header h1 {
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: var(--Size3);
}

.container .post header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  height: 30px;
}

.container .post header .subtitle {
  float: right;
  display: block;
  height: 30px;
  line-height: 30px;
}

.container nav.table-of-contents > ol::before {
  content: "Index";
  font-size: var(--Size4);
  float: right;
  font-style: italic;
  color: var(--Darkest)
}

.container nav.table-of-contents {
  display: block;
  background: var(--Medium);
  color: var(--Lightest);
  font-size: var(--Size5);
  line-height: 1rem;
  position: fixed;
  top: 0;
  left: calc(50% + 450px);
  margin-left: 20px;
  margin: 20px;
  width: 400px;
  border-radius: 24px;
  padding: 24px;

}

nav.table-of-contents li ol,
nav.table-of-contents li ul  {
  padding-left: 10px;
}

nav.table-of-contents li,
nav.table-of-contents li a{
  line-height: 1em;
  font-size: var(--Size5);
}

.articles time, figcaption {
  float: right;
  font-size: var(--Size5);
  font-style: italic;
  color: var(--Medium);
}

.articles h2:nth-child(n+3) {
  margin-top: 200px;
}

.container input.task-list-item-checkbox {
  width: 1.3em;
  height: 1.3em;
}