@import "new-moon.css";
@import "typography.css";

body,html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--Darkest);
  color: var(--Light);
}

body {
  font-family: 'Averia Serif Libre', serif;
  font-weight: normal;
  font-size: var(--Size4);
}

pre code {
  font-family: 'Fira Code', monospace;
  font-size: var(--Size3); 
}

.small {
  font-size: var(--Size5); 
}

h1,h2,h3,h4,h5,h6,p,ol,ul,figure,pre {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  font-size: var(--Size1);
  font-weight: bold;
  margin: 0.5em 0;
}


h2 {
  font-size: var(--Size1);
  font-weight: bold;
  margin-top: 0.55em;
  margin-bottom: 0.25em;
}

h3 {
  font-size: var(--Size2);
  font-weight: bold;
  margin-top: 0.55em;
  margin-bottom: 0.25em;
}

h6,h5,h4 {
  font-size: var(--Size3);
  margin-top: 1.42em;
  margin-bottom: 0.25em;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: normal;
}

h6 {
  font-weight: normal;
  font-style: italic;
}

p, li {
  line-height: 1.5em;
  letter-spacing: .0046rem;
  text-align: justify;
  margin-bottom: 0.5em;
}
ul,ol {
  margin-bottom: 0.5em;
}

a {
  color: var(--LightYellow);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--Light);
}

a img:hover {
  text-decoration: none;
}

b, strong {
  font-weight: bolder;
}

p {
  color: var(--Medium);
}

img {
  border-style: none;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

header {
  text-align: center;
}

h1 {
  color: var(--LightYellow);
  background: linear-gradient(var(--LightYellow), var(--Light));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

cite {
  display: block;
  text-align: right;
}

.subtitle {
  margin-bottom: 1.5rem;
  font-size: var(--Size5);
  font-style: italic;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-anchor {
  display: list-item;
  list-style-type: disc;
  content: "";
  font-size: var(--Size1);
  list-style-position: outside;
  margin: 0;
  padding: 0;
  line-height: 0.5em;
}

h2,h3,h4,h5,h6 {
  display: flex;
}

pre, blockquote, table, iframe, figure {
  border: 1px var(--Darkest) solid;
  border-radius: 8px;
  padding: 16px;
  background: var(--Darkest);
  box-shadow: 10px 10px 26px rgba(0,0,0,0.1);
  margin: 0;
  margin-top: 42px;
  margin-bottom: 42px;
  overflow: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-radius: 12px;
  font-family: 'Fira Code', monospace;
  min-width: 60%;
  max-width: 90%;
  text-align: left;
  margin: 42px auto;
}

tr:first-child {
  border-top: none;
}

tr {
  border-top: 1px solid var(--Medium);
}

thead {
  border-bottom: 1px solid var(--Medium);
}

table td,
table th {
  padding: 6px 10px;
  
}


blockquote {
  padding: 15px;
  text-align: left;
  font-style: italic;
}

blockquote > p {
  margin: 0px;
}


blockquote::before,
blockquote::after {
  content: "ð€’";
  padding: 0;
  margin: 0;
}

blockquote::after {
  
  text-align: right;
  width: 100%;
  display: block;
  padding-right: 15px;
}

h1 a.header-anchor {
  display: none;
}

h2 a.header-anchor {
  color: var(--Blue);
}

h3 a.header-anchor {
  color: var(--Green)
}

h4 a.header-anchor {
  color: var(--Red)
}

h5 a.header-anchor {
  color: var(--Orange)
}

h6 a.header-anchor {
  color:var(--Light);
}



::-moz-selection {
  background-color: rgba(255, 255, 255, 0.1);
}

::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

p > code {
    padding: 0px 6px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 3px;
    color: var(--Orange);
    font-weight: bold;
    font-family: 'Fira Code', monospace;
}

.post header h1 {
  float: left;
  margin: 0;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
}

.post header {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  height: 30px;
}

.post header .subtitle {
  float: right;
  margin: 0;
  display: block;
  height: 30px;
  line-height: 30px;
}


nav.table-of-contents {
  display: block;
  background: var(--Medium);
  color: var(--Lightest);
  font-size: var(--Size5);
  line-height: 1em;
  position: fixed;
  top: 0;
  left: calc(50% + 450px);
  margin-left: 20px;
  margin: 20px;
  width: 400px;

}

nav.table-of-contents li {
  line-height: 1.3em;
}

.articles time, figcaption {
  float: right;
  font-size: var(--Size5);
  font-style: italic;
  color: var(--Medium);
}

.articles h2:nth-child(n+3) {
  margin-top: 200px;
}