pre {
  position: relative;
}
.m-mdic-copy-wrapper {
  position: absolute;
  top: 16px;
  right: 16px;
}
.m-mdic-copy-wrapper span.u-mdic-copy-code_lang {
  position: absolute;
  top: 3px;
  right: calc(100% + 4px);
  font-family: system-ui;
  font-size: 12px;
  line-height: 18px;
  color: #6ab0f3;
  opacity: 0.3;
}
.m-mdic-copy-wrapper div.u-mdic-copy-notify {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 6px;
  border: 0;
  border-radius: 3px;
  background: none;
  font-family: system-ui;
  font-size: 12px;
  line-height: 18px;
  color: #6ab0f3;
  opacity: 0.3;
  outline: none;
  opacity: 1;
  right: 100%;
  padding-right: 4px;
}
.m-mdic-copy-wrapper button.u-mdic-copy-btn {
  position: relative;
  top: 0;
  right: 0;
  padding: 3px 6px;
  border: 0;
  border-radius: 3px;
  background: rgba(255,255,255,0.2);
  font-family: system-ui;
  font-size: 12px;
  line-height: 18px;
  color: #6ab0f3;
  
  outline: none;
  cursor: pointer;
  transition: background 0.1s;
}
.m-mdic-copy-wrapper button.u-mdic-copy-btn:hover {
  background: rgba(255,255,255,0.4);
}
