
{% extends "../layouts/blog.njk" %}

{% block content %}

<div class="container home">
  <header>
    <h1>Eban Blog</h1>
    <div class="subtitle">
      Thoughts on Javascript and C development.
    </div>
    <a class="github-button" href="https://github.com/parro-it/ebansoft.com" data-icon="octicon-watch" data-size="large"
      data-show-count="true" aria-label="Follow this blog on GitHub">ebansoft.com</a>
    <a class="github-button" href="https://github.com/parro-it" data-size="large" data-show-count="true"
      aria-label="Follow @parro-it on GitHub">@parro-it</a>
  </header>

  <section>
    <h2>
      <span class="circle b2"></span>
      One theme for all your apps
    </h2>

    <p>
      New Moon is available for your <strong>text editor</strong> (VS Code, Brackets, Sublime, VIM, Atom), your
      browser's <strong>DevTools</strong> (Chrome), and your
      <strong>terminal</strong> (iTerm2, HyperTerm, Blink).
    </p>

    <h2>
      <span class="circle g2"></span>
      Intuitive syntax highlighting
    </h2>

    <p>
      I've meticulously designed <strong class="y">New Moon</strong> to be easy on the eyes with intuitive
      connections between related elements. It's pleasant for long coding hours in any language,
      and particularly well suited for <strong class="o">HTML</strong>, <strong class="strong">CSS</strong>,
      <strong class="r">Sass</strong>, <strong class="p">PHP</strong>, and <strong class="y">JavaScript</strong>.
    </p>

    <h3>HTML & CSS work together</h3>

    <p>In HTML, we can see tags are blue, attributes are yellow, and values are green.</p>
      
    <p>
      In CSS, Sass, or LESS, styling tag selectors will be blue, and classes will be yellow.
    </p>

    <img src="https://source.unsplash.com/random" alt="CSS/Sass/Less Screenshot" width="316" height="242">

    <h3>Optimized for JSX and React</h3>

    <p>Even React component names are blue, matching HTML and JSX tags.</p>

    <img src="https://source.unsplash.com/random" alt="React Components Screenshot" width="450" height="397">

    <h3>Clear distinctions between code and markup</h3>

    <p>
      Variables are red, tags are blue, and the distinction between PHP and HTML or JavaScript
      and JSX is clear and obvious.
    </p>

    <img src="https://source.unsplash.com/random" alt="PHP Screenshot" width="570" height="365">

    <h2>
      <span class="circle p2"></span>
      What are people saying?
    </h2>

    <blockquote>
      <p>
        “Undoubtedly the best color theme ever. Just install and see yourself. The background
        color is perfect for long time exposure to the eyes. And the code color is well lit and
        separated from each other.”
      </p>
      <cite>&mdash; Ibnul Alam</cite>
    </blockquote>

    <blockquote>
      <p>
        “Absolutely beautiful theme. Definitely deserves more recognition.”
      </p>
      <cite>&mdash; Arcadia</cite>
    </blockquote>

    <blockquote>
      <p>
        “Great theme for long coding hours.”
      </p>
      <cite>&mdash; Volkan</cite>
    </blockquote>

    <blockquote>
      <p>
        “Really surprised this theme isn't more popular. It's a joy to use for HTML/CSS/JS and
        PHP. I like that it isn't heavy on blue colors like a lot of the popular dark themes.”
      </p>
      <cite>&mdash; Brendan</cite>
    </blockquote>

    <blockquote>
      <p>
        “Wonderful. Well crafted with a clear sense of experience and focus. It actually helps me code more by
        enjoying the process more. Excellent work Tania.”
      </p>
      <cite>&mdash; Monte</cite>
    </blockquote>
  </section>



  <section class="credits">
    <ul>
      <li>
        New Moon theme made by <a href="https://www.taniarascia.com/" rel="noopener" target="_blank">Tania Rascia</a></p>
      </li>
    </ul>
  </section>
</div>


{% endblock %}
    
