<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <title>Eban Blog</title>
  <meta name="description" content="Thoughts on Javascript and C development.">

  <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
  <link rel="dns-prefetch" href="https://api.github.com/">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400%7CAveria+Serif+Libre&display=swap">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/newmoon.css">
  <link rel="stylesheet" href="./css/markdowit-copy.css">

  <script src="https://livejs.com/live.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>


<body>
ciao
  <div class="container">
    <header>
      <h1>Eban Blog</h1>
      <div class="subtitle">
        Thoughts on Javascript and C development.
      </div>
      <a class="github-button" href="https://github.com/parro-it/ebansoft.com" data-icon="octicon-watch" data-size="large"
        data-show-count="true" aria-label="Follow this blog on GitHub">ebansoft.com</a>
      <a class="github-button" href="https://github.com/parro-it" data-size="large" data-show-count="true"
        aria-label="Follow @parro-it on GitHub">@parro-it</a>
    </header>

    <section>
      {% block content %}
      {% endblock %}
    </section>

    <section class="credits">
      <ul>
        <li>
          New Moon theme made by <a href="https://www.taniarascia.com/" rel="noopener" target="_blank">Tania Rascia</a></p>
        </li>
      </ul>
    </section>
  </div>
   
</body>

</html>
