<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <title>Eban Blog</title>
  <meta name="description" content="Thoughts on Javascript and C development.">

  <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
  <link rel="dns-prefetch" href="https://api.github.com/">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400%7CAveria+Serif+Libre&display=swap">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/newmoon.css">
  <link rel="stylesheet" href="./css/markdowit-copy.css">

  <script src="https://livejs.com/live.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>


<body>
  {% block content %}
  {% endblock %}

  
   
</body>

</html>
