{% extends "../layouts/blog.njk" %}

{% block content %}
  <div class="container home">
    <header>
      <a href="/">
        <h1>Eban Blog</h1>
      </a>
      <div class="subtitle">
      Thoughts on Javascript and C development.
    </div>

      <a 
        class="github-button" 
        href="https://github.com/parro-it/ebansoft.com/subscription" 
        data-color-scheme="no-preference: dark; light: light; dark: dark;" 
        data-icon="octicon-eye" 
        data-size="large" 
        data-show-count="true" 
        aria-label="Watch ebansoft.com"
      >
        Watch
      </a>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/parro-it" data-color-scheme="no-preference: dark; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @parro-it on GitHub">Follow @parro-it</a>
    </header>

    <section class="articles">
      {{content| safe}}
    </section>

  </div>
{% endblock %}